<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Document</title>

</head>

<body>
    <div id="app" class="container">
        <!-- As a heading -->
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1">ED - Fila</span>
        </nav>

        <h1>SUS.js</h1>
        <div class="form-row">
            <div class="col">
                <input v-model="nome" type="text" id="input_nome" class="form-control" >
            </div>
            <div class="col">
                <input v-model="idade" type="text" id="input_idade"class="form-control" >
            </div>
            <div class="col">
                <button class="btn btn-primary" v-on:click="adicionar">Adicionar</button>
            </div>
        </div>

        <h2>Próximo na fila:</h2>
        <h3>{{topo.nome || "Fila Vazia"}}</h3> 
        <button class="btn btn-success btn-lg btn-block" v-on:click="remover">Atender</button>
        <h3>Fila: </h3>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Chegada</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in fila">
                <td>{{item.nome}}</td>
                <td>{{item.idade}}</td>
                <td>{{item.hora}}</td>
              </tr>
            </tbody>
        </table>

    </div>
    <!-- <script src="../css/bootstrap.bundle.min.js"></script> -->
    <script src="vue.js"></script>
    <script type="module" src="index.js"></script>
</body>

</html>